/* Navbar styling */
.brand-logo {
    margin-left: 10px;
}

/* Styling for my jumbotron */
.materializeJumbotron {
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    background-color: rgb(226, 223, 223);
}

#jumboH1 {
    margin-top: 0;
    font-family: 'Prompt';
}

#jumboH1:hover {
    cursor: pointer;
    transition: 1s;
    color: #26A69A;
}

#jumboBtn {
    margin-top: 30px;
}

#portfolioPic {
    max-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#portfolioPic:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Styling for the About Me section */
.container {
    margin: 0 auto;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Icon button styling */
.fas {
    color: rgb(54, 54, 54);
    margin-right: 4px;
}

.fas:hover {
    cursor: pointer;
    color: #26A69A;
}

.iconBtn {
    color: rgb(54, 54, 54);
}

.iconBtn:hover {
    cursor: pointer;
    color: #26A69A;
}


/* Portfolio card container */
#projects {
    margin: 20px;
    margin-bottom: 50px;
}

/* Portfolio cards styling */
#portfolioCard {
    position: relative;
    top: 0;
    transition: ease;
}

#portfolioCard:hover {
    top: -4px;
    transition: 0.5s;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 400px) {
    .brand-logo {
        font-size: 25px !important;
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .iconContainer {
        float: left;
        margin-right: 20px;
    }

    .iconBtn {
        position: relative;
        top: 14px;
    }
}
 