/* Navbar styling */
.brand-logo {
    margin-left: 10px;
}

.materializeJumbotron {
    text-align: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    background-color: rgb(226, 223, 223);
}

#jumboH1 {
    margin-top: 0;
}

#jumboBtn {
    margin-top: 30px;
}

#portfolioPic {
    max-height: 150px;
}

.row {
    margin-top: 50px;
}

/* Portfolio card container */
#projects {
    margin: 20px;
}

/* Portfolio cards styling */
#portfolioCard {
    position: relative;
    top: 0;
    transition: ease;
}

#portfolioCard:hover {
    top: -4px;
    transition: 0.5s;
}
 