/* Navbar styling */
.brand-logo {
    margin-left: 10px;
}

#aboutMe {
    margin: 35px 25px;
}

/* Portfolio card container */
#projects {
    margin: 20px;
}

/* Portfolio cards styling */
#portfolioCard {
    position: relative;
    top: 0;
    transition: ease;
}

#portfolioCard:hover {
    top: -4px;
    transition: 0.5s;
}